body{
  margin:0px;
  font-family: arial;
  font-size: 24px;

}
button{
  background: transparent;
  border: none;
  font-weight: bold;
}
#top{
  border-top: solid indigo 4px;
  border-bottom: solid gainsboro 2px;
  padding: 10px;
  display: flex;
  position: relative;
}
#centerTitle{
  flex: 1;
  text-align: center;
  font-weight: bold;
}
#lotionTitle{
  font-size: 36px;
}
#lotionSecondaryTitle{
  font-size: 12px;
  color: gray;
}
#sideBarToggle{
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight:bolder;
  text-align: center;
  margin:0px;
  height: 100%;
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
}
.indigoButton:hover{
  background: indigo;
  color: white;
}


main{
  display: flex;
  max-height: 100%;
}
#sideBar{
  flex: 1;
  margin: 0px;
  width: 300px;
  height: calc(100vh - 82px);
  border-right: solid gainsboro 2px;
}
#noteList{
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 124px);
}
#sideBarHeader{
  display: flex;
  height: 40px;
  border-bottom: solid gainsboro 2px;
}
#notesTitle{
  display: flex;
  flex: 1;
  justify-content: left;
  height: 100%;
  align-items: center;
  padding-left: 20px;
}
#addNoteButton{
  font-size: 36px;
  padding: 0px;
  width: 40px;
}

.editor-area{
  flex: 3;
  overflow: auto;
  height: calc(100vh - 82px);

}
.text-header{
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: solid gainsboro 2px;
  
}
.title-container{
  width: 100%;
  align-items: center;
}

.note-title-main{
  border: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
  padding-bottom: 0px;
  width: 75%;
}
#note-title-text-field::placeholder{
  color: black;
}
input:focus{
  outline: none;
}

#preview-title-container{
  visibility: hidden;
}
.buttons-container{
  align-self: flex-end;
  display: flex;
  width: 200px;
  height: 100%;
  justify-content: right;
}
.editor-buttons{
  flex: 1;
  height: 100%;
  font-size: 18px;
  padding: 0px;
}

#main-text-editor{
  display: flex;  
}
.note-element{
  border-bottom: solid gainsboro 2px;
  flex: 1;
}
.note-element.active{
  background-color: indigo;
  color: white;
}

.note-title{

  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
  
}
.note-time-stamp{
  font-size: 12px;
  font-weight: bold;
  color: gray;
  padding-left: 5px;
}
.note-main-content{
  font-size: 14px;
  padding: 5px;
  font-weight:500;
}

.date-container{
  padding-left:15px;
}
#date-selector{
  border: none;
}
#note-placeholder{
  display: flex;
  flex: 3;
  color: gray;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 82px)
}
#empty-list-placeholder{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#preview-date{
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
#preview-text-main{
  margin: 0px;
}
.ql-container.ql-snow {
  border: none !important;
  
}

.ql-toolbar.ql-snow { 
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border-bottom: 2px solid#EDEDED !important;
 
}